<div class='item-form'>
  <%= f.label :title %>*: <%= f_item.text_field :title %>
  <br/>
  <%= f.label :description %>*: <%= f_item.text_field :description %>
  <br/>
  <%= f.label :link %>*: <%= f_item.text_field :link %>
  <br/>
</div>
